PART 1

In [15]:
import pandas as p

'''
    1. mpg:           continuous
    2. cylinders:     multi-valued discrete
    3. displacement:  continuous
    4. horsepower:    continuous
    5. weight:        continuous
    6. acceleration:  continuous
    7. model year:    multi-valued discrete
    8. origin:        multi-valued discrete
    9. car name:      string (unique for each instance)
'''

def discretizer(frame, continousVariables):
    for var in continousVariables:
        frame[var] = p.cut(data[var], bins= [0, data[var].median(), data[var].max()], labels= ['low', 'high'])
    return frame

conVars = ['mpg', 'displacement', 'horsepower', 'weight', 'acceleration']

data = p.read_csv('auto-mpg.csv')

data = discretizer(data, conVars)
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,low,8,high,high,high,low,70,1,chevrolet chevelle malibu
1,low,8,high,high,high,low,70,1,buick skylark 320
2,low,8,high,high,high,low,70,1,plymouth satellite
3,low,8,high,high,high,low,70,1,amc rebel sst
4,low,8,high,high,high,low,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
94,high,4,low,low,low,low,74,2,fiat 124 tc
95,high,4,low,low,low,high,74,3,honda civic
96,high,4,low,low,low,high,74,3,subaru
97,high,4,low,low,low,high,74,2,fiat x1.9
98,high,4,low,low,low,high,75,3,toyota corolla

PART 2